<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
        <h1>Dojos</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>

                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for dojo in dojos  %}
                <tr>
                    <th scope="row">{{dojo.id}}</th>
                    <td>
                        <a href="/dojo/show/{{dojo.id}}">{{dojo.name}}</a>
                        
                    </td>

                    <td>
                        <a href="/dojo/edit/{{dojo.id}}">edit</a>
                        <a href="/dojo/delete/{{dojo.id}}">delete</a>
                        
                    </td>
                </tr>
                {% endfor %}

            </tbody>
          </table>
          <a class="btn btn-primary" href="/dojo/new">Add Dojo</a>
          <a class="btn btn-warning" href="/pet/new">Add Pet</a>
</body>
</html>