<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{data.results}}
    {% for c in data.results  %}
        
    <p>
        {{c.name}}
    </p>
    <p>
        {{c.status}}
    </p>
    <p>
        {{c.location}}
    </p>
    <p>
        <img src="{{c.image}}" alt="" width="20%">
    </p>
    {% endfor %}
</body>
</html>